<div class="user delete">
	<h2>Delete Property</h2>

	<%= form_for(:property, :url=>{:action => 'destroy', :id => @property.id}) do |f| %>
	  
	  <p>Are you sure you want to permanently delete this property?</p>

	  <p class="reference-name"><%= @property.name %></p>

	  <div class="form-buttons">
      <%= submit_tag("Delete Property") %>
	  
	  </div>
	<% end %>
</div>