<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, you have a new reservation request!</h1>
    <p>
      Login to your Friday user account to respond to your reservation requests.<br>
    </p>
  </body>
</html>
