<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, Unfortunately your reservation request has not been accepted.</h1>
    <p>
      Login to your Friday user account to search for alternative accomodation.<br>
    </p>
  </body>
</html>
