<div class="user reservations">
  <h2> Your reservations </h2>

  <%= @reservations.each do |reservation| %>
    <%= property = Property.find_by_id(reservation.user_id) %>
    <%= property.address %>
  <% end %>


</div>
