<div class="jumbotron">
  <div class="container">
    <h1>Friday.</h1>
  </div>
   <p />
   <p />
  <div class="search">

      <div class="form-section">
          <div class="container">
        <div class="row">
          <form role="form">
            <div class="col-md-6">
              <div class="form-group">
                <label class="sr-only" for="location">Location</label>
                <input type="text" class="form-control" id="location" placeholder="Where will you be on Friday?">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="sr-only" for="checkin">When</label>
                <div class="input-group">
                 <input type="text" class="form-control" data-provide='datepicker' placeholder="Which Friday?">
                 <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
               </div>
             </div>
           </div>
           <div class="col-md-2">
            <button type="submit" class="btn btn-default btn-primary">Search</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>